@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

*{
box-sizing: border-box;

}
body {
    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    justify-content: center;
    
  }

img {
    display: flex;
    padding-left: 10px;
    margin: 5px 6px 5px 0px;
 
}

.result {
    text-align: center;
    width:300px; 
    height: 450px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    color: white;
    font-size: 14px;
    padding: 15px;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 190px; 
    height: 190px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.circle h2 {
    font-weight: 600;
    font-size: 50px;
    margin: 0;

}

span{
    color:hsl(241, 100%, 89%);
    font-size: 20px;

}

#p {
    margin: 0 auto;
    padding: 20px;
    color: hsl(241, 100%, 89%);
    
}

.summaryBox{
    width:300px; 
    height: 450px;
    background: hsl(0, 0%, 100%);
    border-radius: 0 25px 25px  0 ;
    font-size: 18px;
    padding: 15px;
    display: grid;

}

#pSummary{
    margin: 0;
    padding: 15px;
    color:  hsl(224, 30%, 27%);
   
}

#score{
    display: flex;
    color: hsl(224, 30%, 27%);
    font-size: 16px;
    text-align: end;
}

#reaction{
    background-color: rgba(255, 85, 85, 0.1);
    color: hsl(0, 100%, 67%);
    width: 250px;
    height: 40px;
    margin: auto;
  
    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    align-content: center;
}

#memory{
    background-color:rgba(255, 176, 30, 0.1);
    color: hsl(39, 100%, 56%);
    width: 250px;
    height: 40px;
    margin: auto;

    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    align-content: center;

}

#verbal{
    background-color: rgba(0, 187, 143, 0.1);
    color: hsl(166, 100%, 37%);
    width: 250px;
    height: 40px;
    margin: auto;

    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    align-content: center;
}


#visual{
    background-color: rgba(20, 39, 214, 0.1);
    color: hsl(234, 85%, 45%);
    width: 250px;
    height: 40px;
    margin: auto;

    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    align-content: center;

}


#buttonContinue{
    font-size: 18px;
    width: 180px;
    height: 40px;
    border-radius: 25px;
    background: hsl(224, 30%, 27%);

    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin: 0 auto;

}

#buttonContinue:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 

}

@media (max-width: 375px){ 
    body {
    flex-direction: column;
    display: flex;
    align-items: center;

}
}